{% block title %}
<link href="vendor/bootstrap/css/nosotros.css" rel="stylesheet">
{% endblock %}

{% block title %}
<div class= "container">
    
  <h1 class="mt-4 mb-3">
      <small>NUiO Galeria Virtual de Arte</small>
  </h1>

        <ol class="breadcrumb">
          <a href="{{ path('homepage') }}">Home</a><li class="breadcrumb-item"></li>
      
          <li class="breadcrumb-item active">Integrantes del Equipo</li>
        </ol>

        <span><span></span></span>
<div class="wrap">
  <a href="#"><div></div></a>
  <a href="#"><div></div></a>
  <a href="#"><div></div></a>
  <a href="#"><div></div></a>
  <a href="#"><div></div></a>
</div>
</div>

{% endblock %}