
{% block title %}


{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}

<div class = "container">

<h1 class="mt-4 mb-3">
      <small>Zeca -Revista </small>
  </h1>

        <ol class="breadcrumb">
          <a href="{{ path('homepage') }}">Home</a><li class="breadcrumb-item"></li>

      
          <li class="breadcrumb-item active">Revista de Arte Mensual</li>
        </ol>


<iframe src="https://drive.google.com/file/d/13StS8GUWeSIo8K-6m8V6XnyeYuYjJ3zL/preview" width="600" height="800"></iframe></div>


<!-- Our Customers -->
  <div class ="container">
    <h2>Otras ediciones</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div>
    <!-- /.row -->
</div>
{% endblock %}