
{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
{% block body %}
<div class="container">

    <h1 class="mt-4 mb-3">Equipo
      <small>NUiO Galeria Virtual de Arte</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item" a href="index.html">Home</a></li>
      
      <li class="breadcrumb-item active">Trabaja con nosotros</li>
    </ol>

{% endblock %}
